/********** FORMATAÇÕES INICIAIS **********/
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
p{
    line-height: 26px;
}

/********** BARRA DE NAVEGAÇÃO **********/
#navbar table{
    background-color: red;
    color: black;
    width: 260px;
    padding-left: 20px;
    margin-top: 40px;
}
#navbar th{
    padding: 20px 15px;
    text-align: left;
    font-size: 1.5em;
    cursor: default;
}
#navbar td{
    font-weight: bold;
    padding: 10px 35px;
}
#navbar td a:hover{
    font-size: 1.2em;
    color: white;
    font-weight: bolder;
}

.ret{
    position: absolute;
    width: 294px;
    height: 1024px;
    left: 0px;
    top: -24px;

    background: #FF0404;
}

#retgreen{
    position: absolute;
    width: 294px;
    height: 1024px;
    left: 0px;
    top: -24px;

    background: #7edf00;
}

/********** MAIN: CONTEUDO PRINCIPAL **********/
#main{
    margin-left: 400px;
    margin-top: 60px;
    width: 700px;
}
#main p{
    margin-left: 5px;
}
#main a{
    text-decoration: underline;
    font-size: 0.8em;
    color: red;

}


/** LOJAS RECOMENDADAS **/
#lista a{
    color: red;
    font-size: 1.0em;
    text-decoration: none;
}
#lista a:hover{
    color: rgb(145, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}
#lista li{
    padding: 10px 2px;
    list-style-type: square;
}
.dark-mode{
    background-color: black;
    color: white;
}

/** EMAIL **/
#main h3{
    margin: 0;
}
input[type=text]{
    width: 250px;
    padding: 8px 16px;
    margin-top: 5px;
}

.botao{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:5px;
    width: 90px;
}

.botao:hover{
    background: rgb(145, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

label{
    font-size: 0.9em;
}

li{
    margin-bottom: 5px;
    list-style-type: square;
}